<!DOCTYPE html>
<html lang="en">
    <%- include ../partials/_head %>

    <body>
        <%- include ../partials/_header %>
        <div align="center">
        <form action="/urls/new" method="POST" style="margin:150px;">
        <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">http://</span>
        <input type="text" class="form-control" name="longURL" aria-label="longURL" aria-describedby="basic-addon1">
        </div></br>
        <input type="submit" value="Submit" class="btn btn-lg btn-success">
        </form>
        </div>
    </body>
</html>