<header>
    <% if (userID) { %> 
    <p><form action="/logout" method="post">Logged in as <%= userID.email %>. <input type="submit" value="Logout"></form></p>
    <% } else { %>
    <form action="/login" method="post">
        <label value="email">Email</label>
        <input type="text" name="email">
        <input type="submit" value="Login">
    </form>
    <% } %>
    <br /><br />
</header>