<!DOCTYPE html>
<html lang="en">
    <head>

        <title>TinyApp</title>
    </head>
    <body>
        <%- include partials/_header %>
        <table margin=4> 
            <th>Short URL</th>
            <th>Long URL</th>
            <th>Delete</th>
        <% for (key in urls) { %>
            <tr>
                <td><%= key %></td>
                <td><%= urls[key] %></td>
                <td><a href="/u/<%= key %>/delete">Delete</a></td>
            </tr>
        <% } %>
        </table>
        <p><a href="/urls/new">New Short URL!</a></p>
    </body>
</html>